/* styles.css */
.site-header {
    display:flex; 
    justify-content: space-between; 
    align-items:center;
    background-color: #1F2937;
}
 
.brand {
    font-size: 24px;
    color: #f9faf8;
    padding: 8px;
}

.site-header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    padding: 16px;
    font-size: 18px;
    color: #e5e7eb
}

.brand {
    font-size: 24px;
    color: #f9faf8;
    padding: 8px;
}

.nav_wrapper {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.subsection.header {
background-color: #1F2937;
font-size: 48px;
color: white;
font-weight: extra-bold;

}